@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat:wght@400;500;600;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.circle {
  @apply bg-[#424343] rounded-full flex items-center justify-center w-8 h-8; 
}

.arrow {
  @apply absolute w-2 h-2 border-solid border-2 border-l-0 border-t-0 -rotate-45 border-[#FFB800] rounded-[1px] ml-[4px];
}

.burger-menu {
  @apply bg-white rounded-[0.3em] duration-[400ms];
}

.burger-menu-text {
  @apply text-white hover:text-main-gold text-3xl cursor-pointer;
}

.burger-menu-lines {
  @apply h-[.35em] w-[2.5em];
}

.statistics-text {
  @apply flex-1 text-2xl text-[26px] md:text-[29px] lg:text-[2rem] font-semibold tracking-tight;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stats-p {
  @apply mt-10 md:mt-12 text-lg md:text-[1.2rem] font-bold bg-gradient-to-r from-[#DD9E48] via-[#e0a758] via-[#e7bc80] to-[#DD9E48] h-[140px] md:w-[77%] md:self-center z-[1] max-w-[750px];
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle-glow {
  @apply rounded-full w-[1px] h-[1px] mr-8 absolute overflow-hidden lg:hidden -translate-y-[7.5rem];
  box-shadow: 0 0 13.5em 4.2em #FFB800;
}

.circle-glow-large-left {
  @apply rounded-full w-[1px] h-[1px] mr-8 overflow-hidden bg-transparent translate-x-[80px] -translate-y-10 lg:absolute hidden lg:block;
  box-shadow: 0 0 15em 4em #FFB800;
}

.circle-glow-large {
  @apply rounded-full w-[1px] h-[1px] mr-8 absolute overflow-hidden;
  box-shadow: 0 0 15.5em 3.8em #FFB800;
}

.radial {
  @apply bg-transparent py-1 px-4 rounded-full relative border-[1px] border-[#C3C3C3] overflow-hidden z-[1] before:inset-0;
}

.radial::before {
  @apply h-full w-[30px] absolute z-[-1] duration-[400ms] hover:w-full hover:bg-[#F3BF28];
  background: radial-gradient(15% 50% at right, transparent 100%, #F3BF28 100%);
}

.founders {
  @apply flex w-full justify-between gap-4;
}

.founder_images {
  @apply flex-1 relative flex flex-col min-h-[105px] max-h-[105px];
}

.founder_sections {
  @apply flex flex-col w-[50%] hover:scale-110 duration-300;
}

.founder_name {
  @apply text-white justify-self-end font-semibold text-lg mt-2 text-center;
}

.founder_position {
  @apply text-white font-semibold text-xs text-[0.6rem] text-center;
}

.input-box {
  @apply rounded-full h-[2.25rem] text-center bg-main-black text-white placeholder:text-white;
}

.marquee {
  @apply text-white flex-shrink-0 justify-around min-w-full gap-[1rem] animate-infiniteScroll text-8xl font-bold tracking-normal;
}

.nav-button {
  @apply text-white;
}
