@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.circle {
  @apply bg-[#424343] rounded-full flex items-center justify-center w-8 h-8; 
}

.arrow {
  @apply absolute w-2 h-2 border-solid border-2 border-l-0 border-t-0 -rotate-45 border-[#FFB800] rounded-[1px] ml-[4px];
}

.burger-menu {
  @apply bg-white rounded-[0.3em] duration-[400ms];
}

.burger-menu-text {
  @apply text-white hover:text-main-gold text-3xl cursor-pointer;
}

.burger-menu-lines {
  @apply h-[.35em] w-[2.5em];
}

.statistics-text {
  @apply flex-1 text-2xl text-[26px] md:text-[29px] lg:text-[2rem] font-semibold tracking-tight;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stats-p {
  @apply mt-10 md:mt-12 text-lg md:text-[1.2rem] font-bold bg-gradient-to-r from-[#DD9E48] via-[#e0a758] via-[#e7bc80] to-[#DD9E48] h-[140px] md:w-[77%] md:self-center z-[1] max-w-[750px];
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle-glow {
  @apply rounded-full w-[1px] h-[1px] mr-8 absolute overflow-hidden lg:hidden -translate-y-[.5rem];
  box-shadow: 0 0 13.5em 4.2em #FFB800;
}

.circle-glow-large-left {
  @apply rounded-full w-[1px] h-[1px] mr-8 overflow-hidden bg-transparent translate-x-[80px] -translate-y-10 lg:absolute hidden lg:block;
  box-shadow: 0 0 15em 4em #FFB800;
}

.circle-glow-large {
  @apply rounded-full w-[1px] h-[1px] mr-8 absolute overflow-hidden;
  box-shadow: 0 0 17.5em 3.9em #FFB800;
}

.radial {
  @apply bg-transparent py-1 px-4 rounded-full relative border-[1px] border-[#C3C3C3] overflow-hidden z-[1] before:inset-0;
}

.radial::before {
  @apply h-full w-[30px] absolute z-[-1] duration-[400ms] hover:w-full hover:bg-[#F3BF28];
  background: radial-gradient(15% 50% at right, transparent 100%, #F3BF28 100%);
}

.founders {
  @apply flex w-full justify-between gap-4 lg:w-[600px] lg:self-end z-[1] lg:gap-0 lg:mt-6 mt-12 xl:gap-20 xl:mr-10 3xl:mr-[7.5rem];
}

.founder_images {
  @apply flex-1 relative flex flex-col min-h-[105px] max-h-[105px] sm:max-h-[125px] sm:min-h-[125px] md:max-h-[155px] md:min-h-[155px] lg:max-h-[175px] lg:min-h-[175px] xl:max-h-[200px] xl:min-h-[200px] 3xl:max-h-[235px] 3xl:min-h-[235px];
}

.founder_sections {
  @apply flex flex-col w-[50%] hover:scale-110 duration-300;
}

.founder_name {
  @apply text-white justify-self-end font-semibold text-lg mt-2 text-center lg:text-xl;
}

.founder_position {
  @apply text-white font-semibold text-xs text-[0.6rem] text-center lg:text-base;
}

.input-box {
  @apply rounded-full h-[2.25rem] text-center bg-main-black text-white placeholder:text-white 2xl:h-12 2xl:text-lg;
}

.marquee {
  @apply text-white flex-shrink-0 justify-around min-w-full gap-[1rem] animate-infiniteScroll text-8xl font-bold tracking-normal lg:text-9xl xl:text-[9rem] 3xl:text-[11rem];
}

.nav-button {
  @apply text-white;
}

.logo {
  @apply absolute translate-x-[-45%] mt-4 w-[430px] h-[310px] md:h-[365px] lg:translate-x-[4.65rem] lg:w-[220px] 3xl:w-[290px] lg:translate-y-[1.85rem] xl:translate-x-[11.2rem] xl:translate-y-[7.5rem] xl:w-[260px] 2xl:translate-x-[18.8rem] 3xl:translate-x-[20.3rem] 3xl:translate-y-[10.5rem];
}

.founders_title {
  @apply text-white xl:mb-20 lg:mb-10 text-2xl 2xl:text-8xl lg:text-7xl lg:text-[4.3rem] md:text-3xl font-semibold lg:before:hidden text-center mb-8 before:absolute relative before:border-b-[1px] before:border-[#A3A3A3] before:w-[110%] before:right-[-5%] before:top-10 before:bottom-0 before:opacity-50;
}

.info_animation {
  @apply absolute top-0 left-0 translate-x-[-260px] translate-y-[-217px] lg:block hidden xl:translate-x-[-240px] xl:translate-y-[-235px] 3xl:translate-x-[-130px] 2xl:translate-x-[-120px];
}

.founders_section {
  @apply flex mx-auto items-center justify-center flex-col max-w-[1600px] w-[85%];
}

.founders_button {
  @apply radial mt-8 self-start lg:absolute lg:left-0 lg:lg:translate-y-[248px] lg:translate-x-[4rem] xl:translate-y-[298px] xl:translate-x-[7rem] 2xl:translate-x-[9rem] 3xl:translate-x-[14.8rem] 2xl:translate-y-[318px] 3xl:translate-y-[348px];
}

.founders_p {
  @apply text-[#C3C3C3] md:text-lg z-[1] lg:absolute lg:text-base lg:w-[33%] lg:translate-y-[128px] lg:translate-x-[4rem] lg:left-0 xl:translate-y-[188px] xl:translate-x-[7rem] 2xl:text-lg 2xl:translate-x-[9rem] 2xl:w-[37%] 3xl:translate-x-[14.8rem] 2xl:translate-y-[190px] 3xl:translate-y-[210px];
}

.founders_bg {
  @apply bg-main-black pt-12 lg:pt-20 h-full relative lg:pb-10;
}

.info_p {
  @apply text-[#C3C3C3] mt-4 w-[100%] md:text-lg lg:text-base 3xl:text-lg;
}

.info_t {
  @apply text-white font-semibold text-xl mt-6 md:text-2xl lg:text-2xl lg:self-start mb-2 3xl:text-3xl self-center;
}

.info_s {
  @apply font-semibold text-base tracking-tight text-white md:text-lg;
}

.info_container {
  @apply flex flex-col items-center w-[85%];
}

.info_line {
  @apply before:inset-0 before:h-[full] 2xl:before:border-l-[4.5px] before:border-l-[3px] before:border-white before:absolute before:top-[1.7rem] relative before:translate-x-[-30px] before:hidden lg:before:block flex flex-col;
}

.box_sizing {
  @apply w-[9.5rem] sm:w-[14rem] md:w-[16rem] lg:w-[11rem] xl:w-[13rem] lg:mb-2 2xl:w-[15rem] 2xl:mb-4;
}

.founder_image {
  @apply cursor-pointer w-[80px] h-[80px] sm:w-[100px] sm:h-[100px] relative overflow-hidden before:absolute before:inset-0 before:bg-[#FFBB37] lg:before:hidden lg:cursor-auto before:rounded-full before:w-[74px] before:h-[76px] before:left-[0.2rem] before:hover:opacity-100 before:duration-300 sm:before:w-[93px] sm:before:h-[92px] sm:before:top-[0.05rem] md:min-w-[120px] md:min-h-[120px] md:before:w-[113px] md:before:h-[110px] md:before:top-[0.1rem] lg:min-w-[140px] lg:min-h-[140px] ;
}

.founders_text {
  @apply text-white text-3xl md:text-4xl 2xl:text-8xl lg:text-7xl lg:text-[4.3rem] font-semibold text-center sm:mb-8 before:absolute relative before:border-b-[1px] before:border-[#A3A3A3] before:w-[110%] before:right-[-5%] before:top-10 md:before:top-12 before:bottom-0 before:opacity-50 lg:before:hidden;
}

.founders_container {
  @apply border-l-[4.5px] border-main-gold ml-[1rem] hidden lg:block min-h-full;
}

.large_founder_name {
  @apply text-white font-[jost] text-lg font-semibold ml-2 3xl:text-xl;
}

.large_founder_desc {
  @apply text-[#E1E1E1] font-[jost] text-base ml-2 3xl:text-lg;
}